<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <title>Washington All Electric Building Map</title>
  </head>
  <body>
    <!-- {% if map_html %}-->
    <table style="width:100%">
      <tr>
	<td style="vertical-align:top"><img src="https://lh4.googleusercontent.com/idiP-499qh-exn6wUQQLLTfJfMEXMYmrTJFtFQRw6O3ZH65guWreAtBztfiZblrUKzfuDg=w16383" height=100 width=100>
	<td style="align: center">
	  <div style="height:500px;width:800px; text-align: center">
	    {{ map_html|safe }}
	    <script>
	      var plot_element = document.getElementById("{{ div_id }}");
	      plot_element.on('plotly_click', function(data){{
		  console.log(data);
		  var point = data.points[0];
		  if (point) {{
		      console.log(point.customdata);
		      window.open(point.customdata);
		  }}
	      }})
	    </script>
	  </div>
    </td></tr></table>

    <!-- {% endif %} -->
<!--    <form action="{% url 'eBmap:index' %}" method="post">
    <table><tr>
	<td>
      {% csrf_token %}
      Predominant building use type:
      <select name="building_use" onchange="this.form.submit()"> 
	{% for use in building_uses %}
	<option value="{{ use }}" {% if use == selected_use %} selected{% endif %}>{{ use }}</option>
	{% endfor %}
      </select>

      
      Use
      <select name="property" onchange="this.form.submit()">
      </select>
      Color plot and map points using:
      <select name="colorby" onchange="this.form.submit()">
	{% for color_by in plots %}
	<option value="{{ color_by }}" {% if color_by == selected_cb %} selected{% endif %}>{{ color_by }}</option>
	{% endfor %}
      </select>
    </td>
   </form>
    -->

    <table class="table">
<!--      <thead><tr>
          <th>Name
          <th>Address
          <th>City
          <th>State
          <th>Country
          <th>Usage
          <th>Floor Area
          <th>Utility
      </tr></thead>
-->
      {% for b in object_list %}
        <tr>

          <td><a href='{{ b.link }}'><img src="{{ b.img_link }}" height=20% width=20%></a></td>
          <td><a href='{{ b.link }}'><h1>{{ b.Building_Name }}</h1></a>
            {{ b.City }}, WA
	    <p>{{ b.Description }}</p>
	    Architect: {{ b.Architect }}<br>
	    Engineer: {{ b.Engineer }}<br>
	    Builder: {{ b.Builder }}<br>
	  </td>
	  </tr>
      {% endfor %}
    </table>

    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
	
        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
	
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </body>
</html>
