<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style type="text/css">
      .popover{
	  max-width:1200px;
      }
    </style>
    
    
    <title>Washington All Electric Building Map</title>
  </head>
  <body>
    <!-- {% if map_html %}-->
    <table style="width:100%">
      <tr>
	<td>
	  <table><tr style="height:50%"><td style="vertical-align:center; text-align:center">
		<a href="https://shiftzero.org/"><img src="https://betterbuiltnw.com/assets/uploads/global-images/shift-zero-final-zero-net-carbon-building-alliance-11.png" height=80%></a>
	    </td></tr>
	    <tr style="height:50%"><td style="text-align:center">
		<a href="#" data-toggle="popover" data-placement="right"
		   title="Frequently Asked Questions">
		  About this list
		</a>

	    </td></tr>
	  </table>
	</td>
	<td style="align: center">
	  <div style="height:500px;width:800px; text-align: center">
	    {{ map_html|safe }}
	    <script>
	      var plot_element = document.getElementById("{{ div_id }}");
	      plot_element.on('plotly_click', function(data){{
		  console.log(data);
		  var point = data.points[0];
		  if (point) {{
		      console.log(point.customdata);
		      window.open(point.customdata);
		  }}
	      }})
	    </script>
	  </div>
    </td></tr></table>

    <!-- {% endif %} -->
<!--    <form action="{% url 'eBmap:index' %}" method="post">
    <table><tr>
	<td>
      {% csrf_token %}
      Predominant building use type:
      <select name="building_use" onchange="this.form.submit()"> 
	{% for use in building_uses %}
	<option value="{{ use }}" {% if use == selected_use %} selected{% endif %}>{{ use }}</option>
	{% endfor %}
      </select>

      
      Use
      <select name="property" onchange="this.form.submit()">
      </select>
      Color plot and map points using:
      <select name="colorby" onchange="this.form.submit()">
	{% for color_by in plots %}
	<option value="{{ color_by }}" {% if color_by == selected_cb %} selected{% endif %}>{{ color_by }}</option>
	{% endfor %}
      </select>
    </td>
   </form>
    -->

    <table class="table">
<!--      <thead><tr>
          <th>Name
          <th>Address
          <th>City
          <th>State
          <th>Country
          <th>Usage
          <th>Floor Area
          <th>Utility
      </tr></thead>
-->
      {% for b in object_list %}
        <tr>

          <td><a href='{{ b.link }}' target="_blank"><img src="{{ b.img_link }}" height=100% width=100%></a></td>
          <td><a href='{{ b.link }}' target="_blank"><h1>{{ b.Building_Name }}</h1></a>
            {{ b.City }}, WA
	    <p>{{ b.Description }}</p>
	    {% if b.Architect %}Architect: {{ b.Architect }}<br>{% endif %}
	    {% if b.Engineer %}Engineer: {{ b.Engineer }}<br>{% endif %}
	    {% if b.Builder %}Builder: {{ b.Builder }}<br>{% endif %}
	  </td>
	  </tr>
      {% endfor %}
    </table>

    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
	
        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
	
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap Bundle JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    <div id="popover-content">
      The Shift Zero Efficient All-Electric Buildings Database shows
      a variety of highly efficient, fossil fuel free buildings in
      Washington and is a resource for advocates, policymakers, and
      other interested stakeholders. Heat pump technology for space
      and water heating, powered with Washington’s increasingly
      clean electricity, is essential to decarbonize our buildings.
      These are proven technologies that can be found in many
		  buildings across the state. 
      
      View the database here.
      To submit an efficient all-electric building to the database,
      please fill out this <a href="https://docs.google.com/forms/d/1SCeEcFENGE8ImpAfFAVwrTkHAmZ3ItNCnH0YLG1wcCE/edit">form</a>.
      
      <h3>What criteria are used in the database?</h3>
      
      All buildings are located in Washington state. They can be any
      building type, and include new construction and retrofits.
      There are many single-family and small multifamily buildings
      that meet these criteria and we have included only a few
      examples. Each building in the database must meet the following
		  criteria:
      
      <ol>
	<li>All-electric (no fossil fuel uses, except for emergency
	  generators), AND have one or more of the following
	  characteristics:
	  <ul>
	    <li>Heat pump space heating
	    <li>Heat pump water heater 
	    <li>Above-code envelope (triple glazing, highly airtight)
	      with minimal electric resistance space and water
	      heating
	  </ul>
      </ol>
      
      <h3>What are heat pumps?</h3>
      
      
      Heat pumps are the most efficient, low-carbon heating and
      cooling technology and are widely used worldwide. A heat pump
      uses electricity and refrigerant to move heat from one location
      to another, providing either heating or cooling within the
      building. Heat pumps use 2-3 times less electricity than
      gas-fired equipment or electric resistance for space heating.
      Heat pump water heaters are similarly efficient technologies,
      reducing energy used to heat water by 66%.
      
      <p>While all appliances contribute to the energy consumption of
	a building, space and water heating together accounts for 40%
		    of a typical building’s energy use. The most impactful
	greenhouse gas reductions can be achieved through updating
	the space and water heaters to heat pumps. 
	
      <p>See also Shift Zero’s technical briefs on heat pump heating
	and heat pump water heaters.
	
	<h3>Where can I learn more about building decarbonization and
	  electrification?</h3>
	
	<ul>
	  <li><a href='https://www.BuildElectricWA.org' target='_blank'>www.BuildElectricWA.org</a>
	  <li><a href='https://drive.google.com/file/d/1EruaX00WWs5CHJJUm2pkL7Ln-8AEpjjV/view?usp=sharing' target='_blank'>Building Electrification Q&#38;A</a>
	    for Washington Policymakers
	  <li><a href='https://static1.squarespace.com/static/5b6a482db27e39e8fcf65bbf/t/6123ce2b1054d4135b44d698/1629736503693/BEI_Building+Electrification+101_Final2021.pdf' target='_blank'>Building Electrification 101</a> from Building Electrification Institute
	  <li>Shift Zero’s <a href='https://shiftzero.org/toolkit/' target='_blank'>Zero Carbon Policy Toolkit</a> provides local governments with resources to effectively champion zero carbon building.
	</ul>
	
	
      <p>To submit an efficient all-electric building to the
	database, please fill out this <a href='https://docs.google.com/forms/d/1SCeEcFENGE8ImpAfFAVwrTkHAmZ3ItNCnH0YLG1wcCE/edit' target='_blank'>form</a>.
	
	For more information, contact Rachel Koller at <a href='mailto:rachel@shiftzero.org'>rachel@shiftzero.org</a>.
    </div>

    <script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
	html: true,
	content: function(){
	    return $('#popover-content').html();
	}
    });   
});
  var popdiv = document.getElementById('popover-content');
  popdiv.style.display = 'none';
</script>

  </body>
</html>
